@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Rubik:wght@400;500;700&display=swap");

$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 100%;
  height: 100vh;
  font-family: "Rubik";

  display: flex;
  flex-direction: column;
}

// IP TRACKER

#ip-tracker {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  text-align: center;
  z-index: 999;
}

.ip-tracker__title {
  margin: 1.5rem 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.ip-input {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;

  label {
    display: flex;
    width: 100%;
  }

  input,
  button {
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 1em 1.25em;
  }

  input {
    flex: 1 0 auto;
    border-radius: 1rem 0 0 1rem;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      font-size: 0.75rem;
    }
  }

  button {
    flex: 0 1 15%;
    background-color: black;
    border-radius: 0 1rem 1rem 0;

    img {
      margin: auto;
      display: block;
    }
  }
}

.ip-info {
  background-color: white;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2em 1em;
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.25em;
  //   transform: translateY(50%);
}

.ip-info__division {
  p {
    color: $darkGray;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 0.75em;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 500;
  }
}

#map-display {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.5),
    rgba(0, 255, 0, 0.5)
  );
  position: relative;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 650px) {
  .ip-info {
    text-align: start;
    flex-direction: row;
    justify-content: space-around;
  }

  .ip-info__division {
    position: relative;
    width: 15%;

    &:not(:first-of-type)::before {
      content: "";
      position: absolute;
      height: 90%;
      width: 2px;
      left: -40%;
      top: 50%;
      background-color: $darkGray;

      transform: translateY(-50%);
    }
  }
}
